<template>
  <div>
    <h2>{{ this.$route.params.wedding }}</h2>
    <div class="lbc-images">
      <img v-for="item in images" class="lbc-wedding" :src="require('./' + item)" alt="">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'GalleryWedding',
    data() {
      return {
        images: []
      }
    },
    beforeMount() {
      var folder = this.$route.params.wedding;
      if(folder === 'Ariella and Sam')
      {
        this.images = [
          folder + '/1.jpg',
          folder + '/2.jpg',
          folder + '/3.jpg',
          folder + '/4.jpg',
          folder + '/5.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Jess and Paul')
      {
        this.images = [
          folder + '/jess_and_paul.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Jessica and Chad')
      {
        this.images = [
          folder + '/FB_IMG_1460081666480.jpg',
          folder + '/FB_IMG_1460081698415.jpg',
          folder + '/FB_IMG_1460081717920.jpg',
          folder + '/FB_IMG_1460081723161.jpg',
          folder + '/FB_IMG_1460082830468.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Kat and Ben')
      {
        this.images = [
          folder + '/5D3A9467.jpg',
          folder + '/5D3B8921.jpg',
          folder + '/5D3B8924.jpg',
          folder + '/5D3B8936.jpg',
          folder + '/5D3B8940.jpg',
          folder + '/5D3B8952.jpg',
          folder + '/5D3B8999.jpg',
          folder + '/5D3B9344.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Kristy and Ben')
      {
        this.images = [
          folder + '/kristy_leach.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Michaela and Gaz')
      {
        this.images = [
          folder + '/Michaela 1.jpg',
          folder + '/Michaela 2.jpg',
          folder + '/Michaela 3.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Rach and Andy')
      {
        this.images = [
          folder + '/rachel_tremewan_1.jpg',
          folder + '/rachel_tremewan_2.jpg',
          folder + '/rachel_tremewan_3.jpg',
          folder + '/rachel_tremewan_4.jpg',
          folder + '/rachel_tremewan_5.jpg',
          folder + '/rachel_tremewan_6.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Sam and Jes')
      {
        this.images = [
          folder + '/j&s-6.jpg',
          folder + '/j&s-27.jpg',
          folder + '/j&s-29.jpg',
          folder + '/j&s-235.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Shannon and Aaron')
      {
        this.images = [
          folder + '/Shannon and Aaron.jpg',
          folder + '/Shannon and Aaron 2.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Sophie and Daniel')
      {
        this.images = [
          folder + '/Sophie.jpg',
          folder + '/Sophie 1.jpg',
          folder + '/Sophie 2.jpg',
          folder + '/Sophie 3.jpg',
          folder + '/Sophie 4.jpg',
          folder + '/Sophie 5.jpg',
          folder + '/Sophie 6.jpg',
          folder + '/Sophie 7.jpg',
          folder + '/Sophie 8.jpg',
          folder + '/Sophie 9.jpg',
          folder + '/Sophie 10.jpg'
        ];
      }
      else if (this.$route.params.wedding === 'Tessa and Courtney')
      {
        this.images = [
          folder + '/Tessa and Courtney.jpg',
          folder + '/Tessa and Courtney 2.jpg'
        ];
      }
    }
  }
</script>

<style lang="less" scoped>

  .lbc-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .lbc-wedding {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    width: 75%;
    // Required to scale correctly in Chrome
    height: 100%;
  }
</style>