<template>
  <div class="lbc-gallery">

    <div class="lbc-gallery-intro">
      <p>
        We are very fortunate to have been given some incredible snapshots from some of the amazing couples who have
        hired from us! Have a look through the albums below to see some stunning weddings, get some great ideas and see
        just what our furniture looks like in action.
      </p>
    </div>

    <div class="lbc-gallery-weddings">
      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Michaela and Gaz">
          <img src="./Michaela and Gaz/12939328_10156815726915714_1786780190_n.jpg" alt="">
          Michaela and Gaz
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Jessica and Chad">
          <img src="./Jessica and Chad/FB_IMG_1460081717920.jpg" alt="">
          Jessica and Chad
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Sophie and Daniel">
          <img src="./Sophie and Daniel/Sophie 9.jpg" alt="">
          Sophie and Daniel
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Kristy and Ben">
          <img src="./Kristy and Ben/kristy_leach.jpg" alt="">
          Kristy and Ben
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Tessa and Courtney">
          <img src="./Tessa and Courtney/Tessa and Courtney 2.jpg" alt="">
          Tessa and Courtney
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Shannon and Aaron">
          <img src="./Shannon and Aaron/Shannon and Aaron.jpg" alt="">
          Shannon and Aaron
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Jess and Paul">
          <img src="./Jess and Paul/jess_and_paul.jpg" alt="">
          Jess and Paul
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Kat and Ben">
          <img :src="require('./Kat and Ben/5D3B8921.jpg')" alt="">
          Kat and Ben
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Ariella and Sam">
          <img :src="require('./Ariella and Sam/5.jpg')" alt="">
          Ariella and Sam
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Rach and Andy">
          <img src="./Rach and Andy/rachel_tremewan_4.jpg" alt="">
          Rach and Andy
        </nuxt-link>
      </div>

      <div class="lbc-gallery-wedding">
        <nuxt-link to="/gallery/Sam and Jes">
          <img src="./Sam and Jes/j&s-235.jpg" alt="">
          Sam and Jes
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Gallery'
  }
</script>

<style lang="less" scoped>

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.lbc-gallery {
  display: flex;
  flex-direction: column;
}

.lbc-gallery-intro {
  margin: auto;
  max-width: 800px;
  width: 100%;
}

.lbc-gallery-weddings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.lbc-gallery-wedding {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  min-width: 250px;
  max-width: 300px;
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  img {
    width: 100%;
  }

  a {
    padding: 10px 0;
  }
}
</style>