<template>
  <div>
    <h2>Benches</h2>

    <div class="lbc-content">

      <p class="bold">Hire cost $10.00 each, per event</p>

      <p>
        Our bench seats are made from 100% recycled timber that we reclaimed from pallets. Using this reclaimed timber has given the bench seats a stunning rustic/aged look. Just because they look rustic  though don’t think that they were built that way! We spent many hours planning, building and sanding to make sure that they are sturdy, smooth and look sensational.
      </p>

      <p>
        They look great either paired with our trestle tables or as stand alones, either as ceremony or casual seating.
      </p>


      <p>
        Comfortably seats 2 people
      </p>

      <p>
        80 available
      </p>

      <p>
        To see photos of our benches in use at real life weddings and events please click on the <router-link to="/gallery">Gallery</router-link>
      </p>

      <p>
        Dimensions: 0.90m wide, 0.38m deep, 0.47m high
      </p>

      <img src="~/assets/images/hire/benches/IMG_4829.jpg">
      <img src="~/assets/images/hire/benches/IMG_4827.jpg">
      <img src="~/assets/images/hire/benches/IMG_4832.jpg">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HireBenches'
  }
</script>

<style lang="less" scoped>

</style>