<template>
  <div>
    <h2>Cake Tables</h2>

    <div class="lbc-content">

      <p class="bold">Hire cost $25.00, per event</p>

      <p>
        Our cake table is made from 100% recycled timber that we reclaimed from pallets. Using this reclaimed timber has given the table a stunning rustic/aged look. Just because it looks rustic  though don’t think that they we built it that way! We spent many hours planning, building and sanding to make sure that it is sturdy, smooth and looks sensational.
      </p>

      <p>
        If you are having a rustic themed wedding or event, this is a perfect addition. Add a wood slice and then your cake and the rustic theme is complete.
      </p>

      <p>
        1 available
      </p>
      
      <p>
        To see photos of our cake table in use at real life weddings and events please see the <router-link to="/gallery">Gallery</router-link>
      </p>

      <p>
        Dimensions: 0.62m wide, 0.62m deep, 0.77m high
      </p>

      <img src="~/assets/images/hire/caketables/IMG_4838_crop.jpg">
      <img src="~/assets/images/hire/caketables/IMG_4834.jpg">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HireCakeTables'
  }
</script>

<style lang="less" scoped>

</style>