<template>
  <div>
    <h2>Chalkboards</h2>
    <div class="lbc-content">

      <p class="bold">Hire cost $40.00 each, per event</p>

      <p>
        Our chalkboards frames are made from 100% recycled timber that we reclaimed from pallets. Using this reclaimed timber has given them a stunning rustic/aged look. Just because it looks rustic  though don’t think that they we built them that way! We spent many hours planning, building and sanding to make sure that they are sturdy, smooth and looks sensational.
      </p>

      <p>
        Anywhere that you need a sign we have you covered. Menus, seating plans, welcome signs, instructions, directions, put is all on a chalkboard.
      </p>

      <p>
        With any of our chalkboard hire we provide you with a collection of chalk, both white and coloured and in different sizes, and also a board eraser.
      </p>

      <p>
        Large A-Frame Chalkboards
      </p>

      <p>
        2 available
      </p>

      <p>
        To see photos of our tables in use at real life weddings and events please see the <router-link to="/gallery">Gallery</router-link>
      </p>

      <img src="~/assets/images/hire/chalkboards/chalkboards.jpg" alt="">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HireChalkboards'
  }
</script>

<style lang="less" scoped>
  img {
    width: 100%;
  }
</style>