<template>
  <div>

    <h2>Finishing Touches</h2>
    
    <div class="lbc-content">

      <p class="bold">Hire cost $5.00 each, per event</p>
      
      <h4>Wooden Block Table Numbers</h4>

      <p>
        These chunky wooden table number are a great addition to our tables. Made from recycled wood with white stencilled numbers, they will easily let your guests know where to sit.
      </p>

      <p>
        Numbers 1-11 available
      </p>

      <p>
        Free use with Trestle Table hire on request
      </p>

      <h4>Double Glass Bottles Tied with Twine</h4>

      <p>
        These super cute vintage bottles are great for putting flowers or foliage in. 
      </p>

      <p>
        22 available
      </p>

      <img src="~/assets/images/hire/finishingtouches/IMG_3274.jpg">
      <img src="~/assets/images/hire/finishingtouches/IMG_3276.jpg">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HireTrestleTables',
    data() {
      return {

      }
    },
    async beforeMount() {

    },
    methods: {
    }
  }
</script>

<style lang="less" scoped>

  h4 {
    margin-bottom: 0;
  }

  hr {
    border-width: 1px;
    border-color: #ddd;
    border-bottom: none;
  }

  img {
    width: 100%;
  }
</style>