<template>
  <div>
    <div class="lbc-hire-categories">
      <div class="lbc-hire-category">
        <router-link to="/hire/trestletables">
          <img src="~/assets/images/hire/trestletables/Trestle Tables.jpg" alt="">
          <span>Trestle Tables</span>
        </router-link>
      </div>
      <div class="lbc-hire-category" id="lbc_hire_benches">
        <router-link to="/hire/benches">
          <img src="~/assets/images/hire/benches/benches.jpg" alt="">
          <span>Benches</span>
        </router-link>
      </div>
      <div class="lbc-hire-category">
        <router-link to="/hire/chalkboards">
          <img src="~/assets/images/hire/chalkboards/chalkboards.jpg" alt="">
          <span>Chalkboards</span>
        </router-link>
      </div>
      <div class="lbc-hire-category">
        <router-link to="/hire/caketables">
          <img src="~/assets/images/hire/caketables/IMG_4834.jpg" alt="">
          <span>Cake Tables</span>
        </router-link>
      </div>
      <div class="lbc-hire-category">
        <router-link to="/hire/finishingtouches">
          <img src="~/assets/images/hire/finishingtouches/Finishing Touches.jpg" alt="">
          <span>Finishing Touches</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Hire'
  }
</script>

<style lang="less" scoped>

.lbc-hire-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.lbc-hire-category {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  min-width: 250px;
  max-width: 300px;
  width: 100%;
  

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  img {
    width: 100%;
  }

  a {
    padding: 10px 0;
    width: 100%;
  }
}
</style>