<template>
  <div>
    
    <h2>Trestle Tables</h2>

    <div class="lbc-content">

      <p class="bold">Hire cost $30.00 each, per event</p>

      <p>
        Our trestle tables are made from a combination of recycled and new timber. Where possible we used reclaimed timber from pallets but for strength reasons we have to add in some new timber too. We made sure that they still have the rustic look though!
        Just because they look rustic don’t think that they were built that way! We spent many hours planning, building and sanding to make sure that they are sturdy, smooth and look sensational.
      </p>

      <p>
        A lot of planning went into our table designs and every aspect was thought out, some features are:
        Secure design means that table tops wont move when leaned upon. Your guests can feel free to put their elbows on the table without fear of the table top moving.
        Angled table legs mean that guests wont have an uncomfortable trestle leg between their knees, very unpleasant, unladylike and unpractical, especially when wearing a dress. The angled legs also mean it is easy to sit down and stand up again, you don’t even notice that the leg is there.
        For comfort the table top edges are all rounded.
      </p>

      <p>
        Free use (on request) of Wooden Block Table Numbers when hiring the Trestle Tables, numbers 1-11.
      </p>

      <p>
        They look great paired with our bench seats for a sit down reception meal or as drinks, buffet, gift or display tables.
      </p>

      <p>Comfortably seats 8 people</p>
      <p>20 available</p>

      <p>
        To see photos of our trestle tables in use at real life weddings and events please see the <router-link to="/gallery">Gallery</router-link>
      </p>

      <p>
        Dimensions 2.20m wide, 0.76m deep, 0.78m high
      </p>

      <img src="~/assets/images/hire/trestletables/Trestle Tables.jpg">
      <img src="~/assets/images/hire/trestletables/IMG_4787.jpg">
      <img src="~/assets/images/hire/trestletables/IMG_4789.jpg">
      <img src="~/assets/images/hire/trestletables/IMG_4819.jpg">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HireTrestleTables'
  }
</script>

<style lang="less" scoped>

</style>