<template>
  <div id="app">
    <header class="lbc-header center">
      <img src="~/assets/images/LITTLE BIT COUNTRY_FULL TAGLINE.png" alt="">
    </header>
    <menu class="lbc-menu">
      <ul>
        <li>
          <nuxt-link to="/" exact>About Us</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/hire" exact>Furniture Hire</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/gallery" exact>Gallery</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/faq" exact>FAQ</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/contact" exact>Contact Us</nuxt-link>
        </li>
      </ul>
      <ul class="lbc-social">
        <li>
          <a href="http://www.facebook.com/Little-bit-Country-799877046754637">
            <img id="social_facebook" src="~/assets/images/misc/fb.jpg" />
          </a>
        </li>
        <li>
        <a href="https://nz.pinterest.com/oconnor9733/">
          <img id="social_pinterest" src="~/assets/images/misc/pint.jpg" />
        </a>
        </li>
      </ul>
    </menu>

    <main class="lbc-main">
      <div class="lbc-router-view">
        <nuxt/>
      </div>
    </main>

  </div>
</template>

<style lang="less">

  @mobile-max-width: 768px;

  @font-face {
    font-family: "main-font";
    src: url('../assets/fonts/font.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "edwardian-script";
    src: url('../assets/fonts/4527bde76d8fc7aed09f15a9ebfb7a75.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  body {
    margin: 0;
    overflow: scroll;
  }

  h1 {
    margin: 0;
    font-family: edwardian-script;
    font-size: 70px;
    font-weight: 100;
  }

  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  * {
    font-family: main-font;
  }

  a {
    color: #42b983;
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
    margin: auto;
  }

  .lbc-content {
    margin: auto;
    max-width: 800px;
    width: 100%;
  }

  .lbc-header {
    display: block;
  }

  .lbc-menu,
  .lbc-main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .lbc-main {
    display: flex;
    flex-direction: column;
  }

  .lbc-header {
    img {
      max-width: 400px;
      width: 100%;
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 50px;
      }
    }
  }

  .lbc-menu {
    font-weight: bold;
    border-bottom: solid #003F5D 2px;
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    padding-bottom: 2px;
    
    ul {

      @media (max-width: @mobile-max-width) {
        flex-direction: column;
      }

      display: flex;
      flex-direction: row;
      margin: 0;
      height: 100%;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
      }
    }
  }

  .lbc-router-view {
    width: 90%;
  }

  .lbc-social {
    position: absolute;
    right: 0;

    li, a, img {
      display: inline-block;
      height: 100%;
    }
  }

  .nuxt-link-active {
    text-decoration: none;
    color: black;
  }
</style>