<template>
  <div class="lbc-content">

    <p>
      If you would like more information or to enquire about making a booking, please get in touch at
      <a href="mailto:info@littlebitcountry.co.nz">info@littlebitcountry.co.nz</a>
    </p>
  </div>
</template>

<style lang="less" scoped>

  input[type="reset"],
  input[type="submit"] {
    display: block;
    width: 150px;
    height: 30px;
  }
  
  .lbc-field {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    max-width: 300px;
  }

  .lbc-field .lbc-field-label,
  .lbc-field .lbc-field-value {
    flex: 1;
    font-family: main-font;
    text-align: left;
    height: 25px;
  }

  .lbc-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
</style>