<template>
  <div class="lbc-content">
    <h4>Where are you based?</h4>

    <p>
      From our home near Tahuna in the Waikato District.
    </p>

    <h4>Which regions do you hire to?</h4>

    <p>
      As we are based in the Waikato this is the main region we hire to.
      Other regions we can supply to are South Auckland, Coromandel and Bay of Plenty.
      Unfortunately we are not able to supply to other regions.
    </p>

    <h4>Are we able to view the tables and benches?</h4>

    <p>
      Yes we are happy for you to come over to view everything, please contact us to arrange a time.
    </p>

    <h4>Is the hire cost per day?</h4>

    <p>
      No, the cost is per event which is usually a four day period.
    </p>

    <h4>How long can we hire them for?</h4>
      
    <p>
      Most of the events that we supply for are held over a weekend so our general hire period is Friday – Monday. If you need them longer than this or at a different time we will see what we can work out.
    </p>

    <h4>Are prices inclusive or exclusive of GST?</h4>
      
    <p>
      All of our prices are GST inclusive.
    </p>

    <h4>Can the tables and benches be used inside or outside?</h4>
      
    <p>
      Yes they are suitable for both indoor and outdoor use. We would actually say that they are more suited to the outdoors, they are very stable on grass as the feet on the tables and benches are quite wide which stops them from sinking into the ground. In fact we would say that they are more suited to the outdoors than most other seating and table options that are out there. If using them indoors you may find that the tables rock slightly but a small piece of cardboard wedged under the offending foot will soon stop that and won’t be able to be seen by guests.
    </p>

    <h4>Are we able to pick up?</h4>
    
    <p>
      Yes of course! Depending on what you are hiring, we have a trailer that you can use for no additional cost.
      It requires an experienced driver and a suitable towing vehicle as it is 2.5m wide, 6m long and very heavy once fully loaded.
      As we both work full time jobs we will need to arrange with you a pickup time that works for all of us.
    </p>

    <h4>Can you deliver and what is the cost?</h4>
      
    <p>
      Yes we may be able to deliver to you, it will depend on where your event is and when you will need everything delivered and then picked up. The cost will depend on what you are wanting to hire and where your event is, please provide us with these details so that we can give you a price.
    </p>
  </div>
</template>

<script>
  export default {
    name: 'Faq'
  }
</script>

<style lang="less" scoped>

</style>