<template>
  <div class="lbc-content">
    
    <p>
      Thanks for visiting Little bit Country.
    </p>

    <p>
      We are a husband and wife team who have a passion for country life and all things handmade. For our own rustic,
      country themed wedding we created a collection of rustic furniture and accessories, which we are now hiring out
      to others for their big day.
    </p>

    <p>
      For our own wedding we wanted a rustic country look with as many handmade and personal touches as we could.
      However we found it very difficult to find furniture that matched our theme. It was then that we decided to dedicate the
      time to making as much as we could, right down to the tables and chairs!
    </p>

    <p>
      This decision resulted in months of hard work spent; designing, planning and building. Where we could we used
      reclaimed timber from old pallets to gave our furniture a perfectly aged and rustic look, and what we ended up
      with is a stunning collection of benches, tables, chalkboards and accessories. We made them for our big day but they
      looked so good and our guests loved them so much, everyone suggested that we hire them out to others — so that is
      just what we are doing! Our aim is to provide well designed, quality made and unique rustic pieces at a
      reasonable price.
    </p>

    <p>
      Have a look through our photos, see what have for hire and please get in touch if you have any questions, we
      would love to be able to work with you.
    </p>

    <p>
      Looking forward to hearing from you.
    </p>

    <p>
        Sam and Leah O’Connor
    </p>

    <img src="~/assets/images/about/about.jpg" alt="" class="lbc-about-image" />
  </div>
</template>

<script>
  export default {
    name: 'About',
    httpHeaders: () => ({
      'Strict-Transport-Security': 'max-age=31536000; includeSubDomains',
      'X-Frame-Options': 'SAMEORIGIN'
    })
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .lbc-about-image {
    display: block;
    width: 60%;
    margin: auto;
  }
</style>